<div class="my-6 flex h-screen flex-col">
  <div
    class="mx-auto grid max-w-4xl items-center gap-16 self-center rounded-md bg-white p-8 font-[sans-serif] text-[#333] shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] sm:grid-cols-2">
    <div class="m-2">
      <h1 class="text-3xl font-extrabold">Modulo administrativo</h1>

      <img class="logo" src="assets/img/logos/LogoBanco.png" alt="Logo" />
    </div>

    <form class="mb-5 ml-auto mt-5">
      <h3 class="m-2 text-xl">Inicio de Sesión</h3>
      <ui-input class="max-w-96" placeholder="Correo electrónico" />
      <ui-input className="max-w-96" placeholder="Contraseña" />

      <ui-button value="Iniciar session" className="mt-5" />
    </form>
  </div>
</div>

<shared-footer />
